:root {
    --page-background-color:rgb(218, 235, 255);
    --main-background-color: rgb(27.6, 63, 106.6);
    --highlight-background-color:rgb(75, 122.8, 179.4);
    --main-text-color:white;
}

body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background:black; 
  }
   
  body::-webkit-scrollbar-thumb {
    background: rgb(27.6, 63, 106.6); 
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background:rgb(75, 122.8, 179.4); 
  }

  * {
      box-sizing:border-box;
      padding:0;
      margin:0;
  }

body {
    background-color:var(--page-background-color);
    font-family:Arial, Helvetica, sans-serif;
}

a:link, a:visited {
    color: var(--main-text-color);
    background-color: transparent;
    text-decoration: none; 
  }
  

  a:hover, a:active {
    color:var(--highlight-background-color);
    background-color: transparent;
    text-decoration: none;
  }

/* img {
    display:none;
} */

  /* #headerPic {
      object-fit:cover;
      object-position:center;
      height:auto;
      width: 101.4%;
      margin: -5% -1% 0 -1%;
  } */
  
  header {
      background-image:url("./images/l7bvcy58miw11.gif");
      height:1050px;
      margin:-8px;

  }

  /* main goal here is to have it be sticky to the bottom on load in and sticky to the top on scroll. sticky position should be able to do that but not sure how*/
nav {
    text-align:right;
    position:-webkit-sticky;
    position: sticky;
    top: -70px;
}

  #home {
    /* position:sticky;
    top:0; */
    float:left;
    font-size:80px;
    margin-left: 5px;
    display:inline;
    padding:15px;
}

.navList {
    display:inline;
    margin-right:-10px;
    /* position:relative; */
    /* bottom:235px; */
    padding: 20px;
    font-size:40px;
}

.navItems {
   /* display:block;  */
   padding:20px;
   margin:-10px;
    display:inline;
    background-color:var(--main-background-color);

}

.aboutMe {
    display:flex;
    color:var(--main-text-color);
    background-color:var(--main-background-color);
    border-left:10px solid var(--highlight-background-color);
}

.rightBorder {
    color:var(--main-text-color);
    background-color:var(--main-background-color);
    border-right: 5px solid var(--highlight-background-color);
}
p {
    text-align:right;
}

.me {

}

/* .work {

} */



/* .contact {

} */



.contactList {
    list-style:none;
}

.contactList {
    background-color:var(--main-background-color);
}

    /* .resume {

    } */
